<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/photo_2024-10-23_19-32-08.jpg" alt="smoothie recipe icon">
    <h4>60000 DA</h4>
    <p>REALME C67 8/128GB</p>
  </li>
  <li class="recipe">
    <img src="/photo_2024-10-23_19-32-35.jpg" alt="smoothie recipe icon">
    <h4>70000 DA</h4>
    <p>REALME C63 8/256GB</p>
  </li>
  <li class="recipe">
    <img src="/photo_2024-10-23_19-32-22.jpg" alt="smoothie recipe icon">
    <h4>75000 DA</h4>
    <p>GALAXY A25 5G 6/128GB</p>
  </li>
  <li class="recipe">
    <img src="/photo_2024-10-23_19-32-27.jpg" alt="smoothie recipe icon">
    <h4>80000 DA</h4>
    <p>OPPO RENO10 5G 8/256GB</p>
  </li>
  <li class="recipe">
    <img src="/photo_2024-10-23_19-32-33.jpg" alt="smoothie recipe icon">
    <h4>50000 DA</h4>
    <p>REALME C51 6/256GB</p>
  </li>
  <li class="recipe">
    <img src="/photo_2024-10-23_19-32-35.jpg" alt="smoothie recipe icon">
    <h4>65000 DA</h4>
    <p>REDMI NOTE 13PRO 8/256</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
